a{
    color: #0082B9 !important;
}
.heading{
    text-align: center;
}
.question_list{
    border:1px solid #ddd;
    padding:15px;
    margin: 10px;
}
.question_list h5{
    margin: 0;
    padding: 0;
}
.question_list a,.question_title{
    font-size: 18px;
    color: green;
    text-decoration: none;
}
